.sideBar
{
    background-image: var(--sideBar_bg_gradient_light);
    color: var(--sideBar_text_light);
    position: absolute;
    top: 0;
    left: -400px;
    height: 100%;
    width: 100%;
    padding: 3em 0;
}
.sideBar ul{
    width: 90%;
}
.sideBar li a{
    display: block;
    border: 2px solid var(--sideBar_border_light);
    color: var(--sideBar_text_light);
    font-size: 2rem;
    padding: 0.5em;
    margin: auto;
    margin-top: 2em ;
    margin-bottom: 1em ;
    text-decoration: none;
    border-radius: 1rem;
    width: 70%;
    
 
}
.sideBar li a:hover{
    background-color: var(--sideBar_bg_link_hover_light);
}
.cancelLogo{
    width: 15%;
    margin-left: 2em;
    cursor: pointer;

}
.topBar{
    background-image: var(--topBar_bg_gradient_light);
    border-bottom-left-radius: 0.7rem;
    border-bottom-right-radius: 0.7rem;
    padding: 1em ;
    position: fixed;
    width: 100%;
    z-index: 2;
    border-bottom: 3px solid var(--sideBar_bg_link_hover_light);
    

}
.logoContainer{
   margin: auto;
   width: fit-content;
   cursor: pointer;
}
.logoContainer img{
    width: 40%;
    height: 30px;
    
}
.logoContainer span{
    font-size: 2rem;
    font-family: boiled;
    margin: 0 0.4em;
    color: var(--sideBar_text_light);
}
.body{
    background-color:var(--black_light);
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    color: var(--white_light);
    padding: 10em 1.5em 0 1.5em;
    overflow-y: scroll;
}
.body label{
    /* color: var(--white_light); */
    font-size: 2rem;
    
}
.eventContainer{
    width: 100%;
    min-height: 40px;
    background-color: var(--white_light);
    border-radius: 0.7rem;
    color:var(--black_light);
    font-size: 1.9rem;
    padding: 0 0.3em;
    max-height: 70px;
    overflow-y: scroll;
    margin: 0.4em 0;
}
.receiptDiv{
    width: 100%;
    min-height: 120px;
    background-color: var(--white_light);
    border-radius: 0.7rem;
    color:var(--black_light);
    font-size: 1.9rem;
    padding: 0 0.3em;
    max-height: 220px;
    overflow-y: scroll;
    margin: 0.4em 0;
}
.indexes{
    border: 1px solid var(--sideBar_border_light);
    border-radius: 0.5rem;
    padding: 0.6em;
}
.indexes hr{
    margin: 1em 0;
}
.switchMode{
    position: fixed;
    z-index: 5;
    color: var(--white_light);
    background-color: var(--sideBar_border_light);
    border-radius: 100%;
    width:25%;
    bottom: 5%;
    right: 3%;
    cursor: pointer;
    padding: 1em;
    cursor: pointer;
}