*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: poppins;
  src: url(../components/fonts/Poppins-SemiBold.ttf);
}

:root{
  font-size: 10px;
  --sideBar_bg_gradient_dark:linear-gradient(to top right,#8800ff,1%,#000000);
  --sideBar_border_dark:#888888;
  --sideBar_text_dark:#ffffff;
  --sideBar_bg_link_hover_dark:#33333388;
  --topBar_bg_color:#607d8b;
  --black_dark:#000000;
  --white_dark:#ffffff;
  --sideBar_bg_gradient_light:linear-gradient(to top right,#8800ff,1%,#000000);
  --sideBar_border_light:#888888;
  --sideBar_text_light:#ffffff;
  --sideBar_bg_link_hover_light:#33333388;
  --topBar_bg_gradient_dark:linear-gradient(to left,#ffffff,#8b0e8b);
  --black_light:#ffffff;
  --white_light:#000000;
}
@font-face {
  font-family: boiled;
  src: url(../components/fonts/BoiledSnakes.ttf);
}